In [1]:
'''
Get the orginal data as downloaded from source site
Clean it up to create data set for this assignment.

@author: Jamie Andrews 
'''

import pandas as pd


# get the data
# wine data
file_path ="./data/"
red = pd.read_csv (file_path+'winequality-red.csv', sep =";")
white = pd.read_csv (file_path+'winequality-white.csv', sep =";")
# credit data
file_path ="./data/"
credit = pd.read_csv (file_path+'default of credit card clients.csv', sep =",", header=2)

In [2]:
red.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
# create column to denote wine color
red['red'] = 1
white['red'] = 0

In [4]:
# merge the red and white dataset
#bigdata = pd.concat([data1, data2], ignore_index=True)
wine = pd.concat([red, white])

In [5]:
# rename column from 'quality' to 'score'
wine.rename(columns={'quality': 'score'}, inplace=True)

In [6]:
# create new column = 0
wine['quality'] = 0
# update quality scores of each row based on score
wine.loc[(wine['score'] > 5),'quality'] = 1

In [7]:
# drop the score column
wine.drop('score', axis=1, inplace=True)

In [8]:
# save updated df to csv
wine.to_csv("./data/wines.csv", index=False)

In [9]:
# CLEAN UP CREDIT CARD DATA

In [10]:
# credit data
file_path ="./data/"
credit = pd.read_csv (file_path+'default of credit card clients.csv', sep =",", header=1)

In [11]:
# drop ID column
credit.drop('ID', axis=1, inplace=True)

In [12]:
# rename last column
credit.rename(columns={'default payment next month': 'default'}, inplace=True)

In [13]:
# drop columns for bills and payments older then 3 months
credit.drop(['PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT4', 
             'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6'], axis=1, inplace=True)

In [14]:
credit.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,BILL_AMT1,BILL_AMT2,BILL_AMT3,PAY_AMT1,PAY_AMT2,PAY_AMT3,default
0,20000,2,2,1,24,2,2,-1,3913,3102,689,0,689,0,1
1,120000,2,2,2,26,-1,2,0,2682,1725,2682,0,1000,1000,1
2,90000,2,2,2,34,0,0,0,29239,14027,13559,1518,1500,1000,0
3,50000,2,2,1,37,0,0,0,46990,48233,49291,2000,2019,1200,0
4,50000,1,2,1,57,-1,0,-1,8617,5670,35835,2000,36681,10000,0

In [15]:
# save updated df to csv
credit.to_csv("./data/credit.csv", index=False)